<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/framework7.material.min.css">
    <link rel="stylesheet" href="css/framework7.material.colors.min.css">
    <link rel="stylesheet" href="css/upscroller.css">
    <link rel="stylesheet" href="css/my-app.css">
    <link rel="stylesheet" href="css/base.css">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!--<script src="http://app.miwifi.com/js/router_request.js"></script>-->
    <!--<script src="http://app.miwifi.com/js/router_request_2.js"></script>-->
    <script src="http://app.miwifi.com/js/router_request_3.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>


    <script type="text/javascript" src="js/jquery.min.js"></script>


    <title>Shadowsocks</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/mui-switch.css" rel="stylesheet" type="text/css">

</head>

<body>
<div id="router_app" class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner">
                <table width="100%">
                    <tr>
                        <td><font colour="#FFFFFF">插件状态</font></td>
                        <td align="right"><input width="150" v-model="run_status"
                                                 @click="pluginEnable(run_status)"
                                                 class="mui-switch mui-switch-anim" type="checkbox"></td>
                    </tr>
                </table>

            </div>
        </div>

        <a href="javascript:"
           v-show="nowIndex===1&&syncList.length>0" @click="saveSyncList()"
           class="floating-button color-red"><i
                class="icon">保存</i></a>

        <div class="navbar-fixed pages navbar-through toolbar-through">
            <div class="page-content">

                <ul class="tabs nav nav-tabs" id="myTab">
                    <li v-for="(item,index) in tabsParam"
                        @click="toggleTabs(index)"
                        :class="{active:index==nowIndex}"><a>{{item}}</a></li>
                </ul>

                <div class="tabs tab-content" v-show="nowIndex===0">
                    <div class="tab-pane active">
                        <div class="list-block">


                            <div class="list-block" style="padding: 20px;">
                                <center>
                                    <input @click="bindPcs" class="button" type="button" value="绑定百度云"/>
                                    <input @click="showDeviceid" class="button" type="button" value="查看deviceid"/>
                                </center>

                                <hr/>
                                <center>
                                    <laber>百度网盘容量</laber>
                                </center>
                                <center>
                                    <laber>总容量：<font v-model="quota" color="#00FF00"></font>GB</laber>
                                </center>
                                <center>
                                    <laber>已使用：<font v-model="used" color="#FF0000"></font>GB</laber>
                                </center>
                                <hr/>

                                <center>
                                    <strong>帮助</strong>
                                </center>
                                [上传]:<br/> 只检查本地文件并上传修改过的文件，忽略远端的所有修改或删除，远端删除的也不再上传<br/>
                                [上传+]:<br/>
                                远端是本地的完全镜像，忽略远端的修改，远端删除的文件在下一次同步时将上传，远端新增的文件如果本地不存在，将不做任何变化<br/>
                                [下载]:<br/> 只检查远端文件是否修改，如有修改下载到本地，忽略本地的修改；如本地文件被删除，将不再下载<br/>
                                [下载+]:<br/> 检查远端和本地文件，如远端有修改，下载到本地，忽略本地的修改；如本地有文件被删除，将重新下载<br/>
                                [同步]:<br/>
                                同时检查远端和本地文件，如只有远端被修改，则下载到本地；如只有本地修改，则上传到远端；如本地和远端都被修改，则以冲突设置方式为准。<br/>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tabs tab-content" v-show="nowIndex===1">

                    <div class="tab-pane active">
                        <div class="list-block">

                            <br/>


                            <div style="width: 100%; overflow: hidden">

                                <ul>
                                    <li class=" item-content list-item " v-for="(item,index) in syncList "
                                        data-type="0">

                                        <div class="item-inner" @touchstart.capture="touchStart"
                                             @touchend.capture="touchEnd" @click="skip">
                                            <div style="width: 100%;">
                                                <table width="100%">
                                                    <tr>
                                                        <td>
                                                            <input type="text" v-model="item.local_files"
                                                                   placeholder="路由器文件路径"/>
                                                        </td>
                                                        <td>
                                                            <select v-model="item.sync_type" value="item.sync_type">
                                                                <option value='0'>上传</option>
                                                                <option value='1'>上传+</option>
                                                                <option value='2'>下载</option>
                                                                <option value='3'>下载+</option>
                                                                <option value='4'>同步</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" v-model="item.remote_files"
                                                                   placeholder="百度云文件路径"/>
                                                        </td>
                                                        <td>
                                                            <input v-model="item.sync_status" style="float:right;"
                                                                   width="150" class="mui-switch mui-switch-anim"
                                                                   type="checkbox">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>

                                        <div class="swipeout-actions-right" @click="deleteLanItem(index)"
                                             :data-index="index">
                                            <a class="swipeout-delete">删除</a></div>
                                    </li>
                                </ul>

                            </div>

                            <div @click="addItem()" style="margin-top: 10px" class="button button-fill"
                                 style="width: 100%;"><font size="150">+</font>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>

                <div class="tabs tab-content" v-show="nowIndex===2">
                    <div class="help">
                        <p>frp 是一个可用于内网穿透的高性能的反向代理应用，支持 tcp, udp, http, https 协议。</p>
                        <p>*基本配置和自定义配置是分离的，相互不会影响</p>
                        <font color="red">*点击保存，会保存当前页面配置，且frpc读取的是最新保存的配置</font>
                        <p>*保存配置后请重启frpc进程以便配置生效</p>
                        <p>*列表左滑可以删除</p>
                        <p>

                            <br/>

                        <hr/>
                        捐助作者：
                        <form name="atool_alipay_img_form" style="padding-bottom: 0;border:none;" method="post"
                              action="https://shenghuo.alipay.com/send/payment/fill.htm" target="_blank"
                              accept-charset="GBK" onsubmit="document.charset='gbk';"><input type="hidden"
                                                                                             value="mtjo_00@163.com"
                                                                                             name="optEmail"><input
                                type="hidden" value="1" name="payAmount"><input type="hidden" name="title"
                                                                                placeholder="付款说明" value=""><input
                                type="image" value="支付宝收款" src="http://www.atool.org/res/alipay_1.png" name="pay">
                        </form>
                        </p>
                        <br/>
                        支付宝打赏：
                        <center><img width="100%" src="alipay.JPG"></center>

                        <br/>
                        微信打赏：
                        <center><img width="100%" src="wechar.JPG"></center>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<div class="toast-wrap">
    <span class="toast-msg"></span>
</div>

<script>
    var router_app = new Vue({
        el: '#router_app',
        data: {
            tabsParam: ['基本配置', '同步列表', "?"],//（这个也可以用对象key，value来实现）
            nowIndex: 0,//默认激活状态
            user_config: "",
            plugin_status: {},
            syncList: [],
            quota: "0000.00",
            used: "0000.00",
            run_status: false,
            startX: 0,
            endX: 0,
            shellLog: '',
            shell: ''
        },
        methods: {
            showDeviceid: function () {
                routerRequest.request({
                    path: "/api-third-party/device",
                    type: "GET",
                    data: {
                        appId: appId,
                    },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        if (response.code != 0) {
                            console.log(data);
                            toast("错误：" + response.msg);

                            return;
                        }
                        toast(data);
                    },
                    error: function (data) {
                        toast("网络错误：" + data);
                    }
                });
            },
            toggleTabs: function (index) {
                this.nowIndex = index;
            },
            addItem: function () {
                router_app.$data.syncList.push({
                    "local_files": "",
                    "sync_type": 0,
                    "remote_files": '',
                    "local_address": "",
                    "sync_status": false
                })
            },
            bindPcs: function () {
                location = 'http://mtjo.net/router/oauth.php?method=bindAccount&bindAccount=mtjo'
            },

            saveSyncList: function () {
                encodefilesdata = encodeURIComponent(JSON.stringify(router_app.$data.syncList));
                routerRequest.request({
                    path: "/api-third-party/service/datacenter/set_config",
                    type: "GET",
                    data: {
                        appId: appId,
                        key: "syncList",
                        value: encodefilesdata
                    },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        if (response.code != 0) {
                            console.log(data);
                            alert("错误：" + response.msg);
                            return;
                        }
                        toast("保存成功！")
                    },
                    error: function (data) {
                        toast("网络错误：" + data);
                    }
                });


            },


            pluginEnable: function (isRun) {
                alert(isRun)
                if (isRun) {
                    routerRequest.request({
                        path: "/api-third-party/service/datacenter/plugin_disable",
                        type: "GET",
                        data: {
                            appId: appId,
                        },
                        success: function (data) {
                            var response = jQuery.parseJSON(data);
                            if (response.code != 0) {
                                console.log(data);
                                toast("错误：" + response.msg);
                                return;
                            }
                            toast("停用插件：" + response.msg);
                            router_app.$data.run_status = false;
                        },
                        error: function (data) {
                            toast("网络错误：" + data);
                        }
                    });
                } else {
                    routerRequest.request({
                        path: "/api-third-party/service/datacenter/plugin_enable",
                        type: "GET",
                        data: {
                            appId: appId,
                        },
                        success: function (data) {
                            var response = jQuery.parseJSON(data);
                            if (response.code != 0) {
                                console.log(data);
                                toast("错误：" + response.msg);
                                return;
                            }
                            toast("启用插件：" + response.msg);
                            router_app.$data.run_status = true;
                        },
                        error: function (data) {
                            toast("网络错误：" + data);
                        }
                    });
                }
            },//跳转
            skip() {
                if (this.checkSlide()) {
                    this.restSlide();
                } else {
                    //alert('You click the slide!')
                }
            },
            //滑动开始
            touchStart(e) {
                // 记录初始位置
                this.startX = e.touches[0].clientX;
            },
            //滑动结束
            touchEnd(e) {
                // 当前滑动的父级元素
                let parentElement = e.currentTarget.parentElement;
                // 记录结束位置
                this.endX = e.changedTouches[0].clientX;
                // 左滑
                if (parentElement.dataset.type == 0 && this.startX - this.endX > 30) {
                    this.restSlide();
                    parentElement.dataset.type = 1;
                }
                // 右滑
                if (parentElement.dataset.type == 1 && this.startX - this.endX < -30) {
                    this.restSlide();
                    parentElement.dataset.type = 0;
                }
                this.startX = 0;
                this.endX = 0;
            },
            //判断当前是否有滑块处于滑动状态
            checkSlide() {
                let listItems = document.querySelectorAll('.list-item');
                for (let i = 0; i < listItems.length; i++) {
                    if (listItems[i].dataset.type == 1) {
                        return true;
                    }
                }
                return false;
            },
            //复位滑动状态
            restSlide() {
                let listItems = document.querySelectorAll('.list-item');
                // 复位
                for (let i = 0; i < listItems.length; i++) {
                    listItems[i].dataset.type = 0;
                }
            },
            //删除
            deleteItem(index) {
                // 复位
                this.restSlide();
                // 删除
                router_app.$data.nodeList.splice(index, 1);
            },
            //删除lan
            deleteLanItem(index) {
                // 复位
                this.restSlide();
                // 删除
                router_app.$data.lanList.splice(index, 1);
            }

        }
    });

    var appId = "2882303761517489490";

    $(document).ready(function () {
        $("#authorizeButton").click(function () {
            if (!routerRequest.hasAccessToken()) {
                routerRequest.authorize(window.location.href, appId);
            }
        });
        loadconfig();

    });

    function loadconfig() {
        //设置
        routerRequest.request({
            path: "/api-third-party/service/datacenter/config_info",
            type: "GET",
            data: {
                appId: appId,
                key: "syncList"
            },
            success: function (data) {
                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("同步列表错误：" + response.msg);
                    return;
                }
                syncListStr = decodeURIComponent(response.value);
                if (syncListStr != "") {
                    syncList = jQuery.parseJSON(syncListStr);
                    router_app.$data.syncList = syncList;
                }
            },
            error: function (data) {
                toast("同步列表网络错误：" + data);
            }
        });


        routerRequest.request({
            path: "/api-third-party/service/datacenter/config_info",
            type: "GET",
            data: {
                appId: appId,
                key: "pcs_token"
            },
            success: function (data) {
                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("pcs_token错误：" + response.msg);
                    return;
                }
                jsonstr = decodeURIComponent(response.value);

                if (jsonstr == "") {
                    code = getPar("code");
                    if (code.length > 0) {
                        $.get('/router/oauth.php', {method: "getPcsToken", code: code}, function (token) {
                                encodetoken = encodeURIComponent(token);
                                userconfig = jQuery.parseJSON(token);
                                //toast(token);
                                //token 存到小米配置
                                routerRequest.request({
                                    path: "/api-third-party/service/datacenter/set_config",
                                    type: "GET",
                                    data: {
                                        appId: appId,
                                        key: "pcs_token",
                                        value: encodetoken
                                    },
                                    success: function (data) {
                                        var response = jQuery.parseJSON(data);
                                        if (response.code != 0) {
                                            alert("错误：" + response.msg);
                                            return;
                                        }
                                        $.get('/router/oauth.php',
                                            {
                                                method: "getQuota",
                                                access_token: userconfig.access_token
                                            }, function (ret) {
                                                router_app.$data.quota = ret.quota;
                                                router_app.$data.used = ret.used;
                                            }, "JSON");
                                    },
                                    error: function (data) {
                                        toast("pcs_token网络错误：" + data);
                                    }
                                });

                            },
                            "text");
                    }
                }

            },
            error: function (data) {
                toast("pcs_token网络错误：" + data);
            }
        });


        //插件状态
        routerRequest.request({
            path: "/api-third-party/service/datacenter/get_plugin_status",
            type: "GET",
            data: {
                appId: appId,
            },
            success: function (data) {
                var response = jQuery.parseJSON(data);
                if (response.code != 0) {
                    console.log(data);
                    toast("错误：" + response.msg);
                    return;
                }
                router_app.$data.run_status = response.isEnable;

                //alert(router_app.$data.run_status);
            },
            error: function (data) {
                toast("获取插件状态网络错误：" + data);
            }
        });

    }

    routerRequest.request({
        path: "/api-third-party/service/datacenter/config_info",
        type: "GET",
        data: {
            appId: appId,
            key: "pcs_token"
        },
        success: function (data) {
            var response = jQuery.parseJSON(data);
            if (response.code != 0) {
                console.log(data);
                toast("错误：" + response.msg);
                return;
            }

            userconfig = jQuery.parseJSON(decodeURIComponent(response.value));
            toast(userconfig.access_token)

            $.get('/router/oauth.php',
                {
                    method: "getQuota",
                    access_token: userconfig.access_token
                }, function (ret) {
                    $("#quota").text(ret.quota);
                    $("#used").text(ret.used);
                }, "JSON");
        },
        error: function (data) {
            toast("网络错误x：" + data);
        }
    });


    function getPar(par) {
        //获取当前URL
        var local_url = document.location.href;
        //获取要取得的get参数位置
        var get = local_url.indexOf(par + "=");
        if (get == -1) {
            return false;
        }
        //截取字符串
        var get_par = local_url.slice(par.length + get + 1);
        //判断截取后的字符串是否还有其他get参数
        var nextPar = get_par.indexOf("&");
        if (nextPar != -1) {
            get_par = get_par.slice(0, nextPar);
        }
        return get_par;
    }

    //通过code取ｔｏｋｅｎ
    code = getPar("code");
    if (code.length > 0) {
        $.get('/router/oauth.php', {method: "getPcsToken", code: code}, function (token) {
                console.log(token);
                encodetoken = encodeURIComponent(token);
                userconfig = jQuery.parseJSON(token);
                //token 存到小米配置
                routerRequest.request({
                    path: "/api-third-party/service/datacenter/set_config",
                    type: "GET",
                    data: {
                        appId: appId,
                        key: "pcs_token",
                        value: encodetoken
                    },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        if (response.code != 0) {
                            alert("错误：" + response.msg);
                            return;
                        }
                        $.get('/router/oauth.php',
                            {
                                method: "getQuota",
                                access_token: userconfig.access_token
                            }, function (ret) {
                                $("#quota").text(ret.quota);
                                $("#used").text(ret.used);
                            }, "JSON");
                    },
                    error: function (data) {
                        toast("网络错误：" + data);
                    }
                });

            },
            "text");
    }


    function toast(msg) {
        setTimeout(function () {
            document.getElementsByClassName('toast-wrap')[0].getElementsByClassName('toast-msg')[0].innerHTML = msg;
            var toastTag = document.getElementsByClassName('toast-wrap')[0];
            toastTag.className = toastTag.className.replace('toastAnimate', '');
            setTimeout(function () {
                toastTag.className = toastTag.className + ' toastAnimate';
            }, 100);
        }, 5);
    }
</script>

</body>
</html>

